<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css"
  />
  <body>
    <select name="countries" id="countries" multiple>
      <option value="1">Afghanistan</option>
      <option value="2">Australia</option>
      <option value="3">Germany</option>
      <option value="4">Canada</option>
      <option value="5">Russia</option>
    </select>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script>
      new MultiSelectTag("countries"); // id
    </script>
  </body>
</html>
